body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    
}
.half-width{
    width: 50%;
    padding: 60px;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/pexels-uzunov-rostislav-5011647.jpg);
    background-repeat:no-repeat;
   
}
.image{
    width: 100%;
}
.dream-big{
    background-image: url(images/pexels-pixabay-38537.jpg);
    background-repeat: no-repeat;
}
